<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Calle:&nbsp;&nbsp;</label>{{calle}}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Número:&nbsp;&nbsp;</label>{{numero}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Partido:&nbsp;&nbsp;</label>{{partido}}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Barrio:&nbsp;&nbsp;</label>{{barrio}}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>CP:&nbsp;&nbsp;</label>{{codPos}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Localidad:&nbsp;&nbsp;</label>{{localidad}}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Provincia:&nbsp;&nbsp;</label>{{provincia}}
        </div>
    </div>
</div>
<div>
    <a href="{{urlMaps}}" target="_blank" class="btn btn-danger" data-toggle="modal">
		Ir al Mapa
	</a>
</div>